img{
    border: 5px solid rgb(14, 10, 10);
    border-radius: 10%;
    width: 200px;
    margin:20px;
    transition: 2s;
}
.content{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}
.asd123{
   float: left;
}
body{
    background-color: antiquewhite;
}