body{
    background-image: url(../img/hatter.png);
}

.menu ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    background-color: #b1b1b1;
    }
        
.menu li {
    float: right;
    }
        
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
    }
        
.menu li a:hover:not(.active) {
    background-color: #6d84b1;
    padding-right: 25px;
    padding-left: 25px;

    }
        
.menu .active {
    background-color: #4e4e4e;
    padding-right: 25px;
    padding-left: 25px;
    }

.menuli.dropdown {
    display: inline-block;
    }
          
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4c6593ec;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    }
          
.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
          
.dropdown-content a:hover {
    background-color: #f1f1f100;
    }
          
.dropdown:hover .dropdown-content {
    display: block;
    }
 /* Huba cucca ne nyúlj hozzá*/
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
  }
  
  .image-container:hover .text-overlay {
    opacity: 1;
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }
  .kep{
    margin: 10px;
    border-color: black;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: #fff;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .felirat {
    text-align: center;
  }
