body{
    background-image: url(../img/hatter.png);
}

.menu ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    background-color: #b1b1b1;
    }
        
.menu li {
    float: right;
    }
        
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
    }
        
.menu li a:hover:not(.active) {
    background-color: #6d84b1;
    padding-right: 25px;
    padding-left: 25px;

    }
        
.menu .active {
    background-color: #4e4e4e;
    padding-right: 25px;
    padding-left: 25px;
    }

.menuli.dropdown {
    display: inline-block;
    }
          
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4c6593ec;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    }
          
.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
          
.dropdown-content a:hover {
    background-color: #f1f1f100;
    }
          
.dropdown:hover .dropdown-content {
    display: block;
    }
