body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://sandorpeteer.github.io/9E_2023_BUFE_SHOP/img/hatter.jpg);
  }
  
  .container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    height: 40px;
    background-color: rgb(118, 0, 0);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: rgb(118, 0, 0);
  }
  
  .signup {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup a {
    color: rgb(118, 0, 0);
    text-decoration: none;
  }
